{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
<br><br>
<div align="center">
<h2>Change Your Password</h2>
<p>Use the form below to change your Password</p>
<form action="" method="post" class="form">
    {% csrf_token %}
   <!-- {% bootstrap_form form %} -->
   <br>
   <div class="form-group clearfix">
                <label for="oldpassword" class="col-md-6 control-label text-left">Old password</label>
                            <div class="col-md-6">
                                <input name="oldpassword" value="" type="text" class="form-control" />
                            </div>
    </div>
    <div class="form-group clearfix">
                <label for="oldpassword" class="col-md-6 control-label text-left">New password</label>
                            <div class="col-md-6">
                                <input name="oldpassword" value="" type="text" class="form-control" />
                            </div>
    </div>
    <div class="form-group clearfix">
                <label for="oldpassword" class="col-md-6 control-label text-left">Confirm New password</label>
                            <div class="col-md-6">
                                <input name="oldpassword" value="" type="text" class="form-control" />
                            </div>
    </div>
    </div>
    <div align = 'center'>
    {% buttons %}
    <button style= "width:220px" type="submit" class="btn btn-primary">Submit</button>
    {% endbuttons %}
    </div>
</form>
</div>
{% endblock content %}
